<%= render 'shared/navbar' %>

<div class="users-wrapper">

<div class="ranking-title text-center">
  RECO RANKING!
  </div>

  <div class="users-inner">

  <table>
    <tr>
      <th class="position-column"> # </th>
      <th class="user-column"> User </th>
      <th class="reco-column"> Recos </th>
    </tr>
    <% @users.each do |user| %>
    <tr>
      <td class="position-column">
        <%= (@users.index(user) + 1) %>
      </td>
      <td class="user-column">
        <%= link_to user_path(user) do %>
        <div>
          <%= cl_image_tag user.photo.key, width: 200, height: 200, class: "avatar" %>
        </div>
        <div>
          <%= user.username %>
        </div>
        <% end%>
      </td>
      <td class="reco-column">
        <%= user.recos %>
      </td>
    </tr>
    <% end %>
  </table>

  </div>

</div>
