<%= render 'shared/navbar' %>

<div class='the-user-wrapper'>
  <div class="user-inner">

    <%= cl_image_tag @user.photo.key, width: 100, height: 50, class: "avatar" %>
    <h1> <%= @user.username %> </h1>
    <p class="user_bio"><%= @user.bio %> </p>

    <p> <%= @user.username %>  has <%= @user.recos %> recos, mostly
    <%= @most_recos %> and its favourites cryptos are:
      <% @user.likes.each do |like| %>
      <%= like.crypto.name %>,
      <% end %>
    </p>
  </div>
</div>
