<div class="d-flex w-80 justify-content-center align-items-center">


<%= form_tag cryptos_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find a crypto"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>

<%= link_to "Show All", cryptos_path, class: "btn btn-success" %>

</div>

<div class="d-flex justify-content-center w-90 align-items-center">

<table>
  <tr>
    <th> <%= sortable 'symbol', "Symbol" %> </th>
    <th> <%= sortable 'name', "Name" %> </th>
    <th> <%= sortable 'price', "Price" %>  </th>
    <th> <%= sortable 'volume_24h', "Volume_24h" %> </th>
    <th> <%= sortable 'percent_change_1h', "1h" %></th>
    <th> <%= sortable 'percent_change_24h', "1d" %> </th>
    <th> <%= sortable 'percent_change_7d', "7d" %> </th>
    <th> <%= sortable 'percent_change_30d', "30d" %> </th>
    <th> <%= sortable 'market_cap', "Mkt. Cap" %> </th>
  </tr>
    <% @cryptos.each do |crypto| %>
  <tr>
    <td> <%= crypto.symbol %> </td>
    <td> <%= link_to crypto.name, crypto_path(crypto) %> </td>
    <td> <%= crypto.price.round(3) %> </td>
    <td> <%= crypto.volume_24h.round(2) %> </td>
    <td style='<%= crypto.percent_change_1h.negative? ? "color: red" : "color: green" %>'> <%= crypto.percent_change_1h.round(2) %> </td>
    <td style='<%= crypto.percent_change_24h.negative? ? "color: red" : "color: green" %>'> <%= crypto.percent_change_24h.round(2) %> </td>
    <td style='<%= crypto.percent_change_7d.negative? ? "color: red" : "color: green" %>'> <%= crypto.percent_change_7d.round(2) %> </td>
    <td style='<%= crypto.percent_change_30d.negative? ? "color: red" : "color: green" %>'> <%= crypto.percent_change_30d.round(2) %> </td>
    <td> <%= crypto.market_cap %> </td>
  </tr>
    <% end %>
</table>
</div>
