<div class="d-flex justify-content-center w-90 align-items-center">
<table>
  <tr>
    <th> </th>
    <th> </th>
    <th> <%= link_to '#', cryptos_path(:sort_param => "vote") %> </th>
    <th> <%= link_to 'Crypto', cryptos_path(:sort_param => "name") %> </th>
    <th> <%= link_to 'Symbol', cryptos_path(:sort_param => "symbol") %> </th>
    <th> <%= link_to 'Price', cryptos_path(:sort_param => "price") %>  </th>
    <th> <%= link_to 'Volume 24h', cryptos_path(:sort_param => "volume_24h") %> </th>
    <th> <%= link_to '1h', cryptos_path(:sort_param => "percent_change_1h") %> </th>
    <th> <%= link_to '1d', cryptos_path(:sort_param => "percent_change_24h") %> </th>
    <th> <%= link_to '7d', cryptos_path(:sort_param => "percent_change_7d") %> </th>
    <th> <%= link_to '30d', cryptos_path(:sort_param => "percent_change_30d") %> </th>
    <th> <%= link_to 'Mkt. Dominance', cryptos_path(:sort_param => "market_cap") %> </th>
  </tr>
    <% @cryptos.each do |crypto| %>
  <tr>
  <td> <%= link_to "+", crypto_path(crypto, :signal_param => "plus"), method: :patch %> </td>
  <td> <%= link_to "-", crypto_path(crypto, :signal_param => "minus"), method: :patch %> </td>
  <td> <%= crypto.vote %> </td> </td>
  <td> <%= link_to crypto.name, crypto_path(crypto) %> </td>
  <td> <%= crypto.symbol %> </td>
  <td> <%= crypto.price.round(3) %> </td>
  <td> <%= crypto.volume_24h.round(2) %> </td>
  <td> <%= crypto.percent_change_1h.round(2) %> </td>
  <td> <%= crypto.percent_change_24h.round(2) %> </td>
  <td> <%= crypto.percent_change_7d.round(2) %> </td>
  <td> <%= crypto.percent_change_30d.round(2) %> </td>
  <td> <%= crypto.market_cap %> </td>
  </tr>
    <% end %>
</table>
</div>
