<h1> <%= @crypto.name %> </h1>
<h2> <%= @crypto.symbol %> </h2>


<div>
  <% if @found_like.empty? %>

    <%= simple_form_for([@crypto, @like]) do |f| %>
      <%= f.submit class: "btn-primary text-light p-2 shadow-none" %>
    <% end %>

  <% else %>
  <% if @found_like && policy(@found_like).destroy? %>
  <%= link_to "You liked!",
      like_path(@found_like.first.id),
      class: "btn-success text-light p-2 shadow-none",
      method: :delete %>
  <% end %>
  <% end %>
</div>


<div>
 <%= simple_form_for([@crypto, @comment]) do |f| %>
      <%= f.text :content %>
      <%= f.submit class: "btn-primary text-light p-2 shadow-none" %>
    <% end %>
</div>
