<%= render 'shared/navbar' %>

<div class="the-crypto-wrapper">
  <div class="crypto-box">

    <div class="crypto-main-box">
      <h1> <%= @crypto.name %> </h1>
      <h2> <%= @crypto.symbol %> </h2>

      <div class="">
        <% if @found_like.empty? %>
          <%= simple_form_for([@crypto, @like], remote: true) do |f| %>
            <%= f.submit "Like!", class: "crypto-btn" %>
          <% end %>
        <% else %>
        <% if @found_like && policy(@found_like).destroy? %>
        <%= link_to "You liked!",
            like_path(@found_like.first.id),
            class: "second-crypto-btn",
            method: :delete %>
        <% end %>
        <% end %>
      </div>

    </div>

    <div class="crypto-info-box">
      <ul>
        <div>
          <li> <h5>Max Supply:</h5>  $ <%= number_with_delimiter(@crypto.max_supply) %> </li>
          <li> <h5>Circulating Supply:</h5> $ <%= number_with_delimiter(@crypto.circulating_supply) %> </li>
          <li> <h5>Total Supply:</h5> $ <%= number_with_delimiter(@crypto.total_supply) %> </li>
          <li> <h5>Volume 24h:</h5> $ <%= number_with_delimiter(@crypto.volume_24h) %> </li>
          <li> <h5>Volume Change 24h:</h5>  $ <%= number_with_delimiter(@crypto.volume_change_24h) %> </li>
        </div>
        <div>
          <li> <h5>Percent Change 1h:</h5>  <span style="<%=@crypto.percent_change_1h.negative? ? 'color: red' : 'color: green'%>"><%= number_with_delimiter(@crypto.percent_change_1h.round(2)) %>%</span> </li>
          <li> <h5>Percent Change 1d:</h5>  <span style="<%=@crypto.percent_change_24h.negative? ? 'color: red' : 'color: green'%>"><%= @crypto.percent_change_24h.round(2) %>%</span> </li>
          <li> <h5>Percent Change 7d:</h5>  <span style="<%=@crypto.percent_change_7d.negative? ? 'color: red' : 'color: green'%>"><%= @crypto.percent_change_7d.round(2) %>%</span> </li>
          <li> <h5>Percent Change 30d:</h5>  <span style="<%=@crypto.percent_change_30d.negative? ? 'color: red' : 'color: green'%>"><%= @crypto.percent_change_30d.round(2) %>%</span> </li>
          <li> <h5>Market Cap:</h5>  $ <%= number_with_delimiter(@crypto.market_cap) %> </li>
          <li> <h5>Market Cap Dominance:</h5>  $ <%= number_with_delimiter(@crypto.market_cap_dominance) %> </li>
        </div>
      </ul>
    </div>

  </div>

  <div class="comment-box">
    <div class="show-comment-box">
    <% if @comments.empty? %>
        <h4> Be the first to comment about this crypto! </h4>
      <% else %>
      <ul>
      <% @comments.each do |comment|%>
      <li>
        <div class="comment-actions">
        <div class="c-t">
          <p id="<%= comment.id %>">  <%= comment.content %> <%= comment.is_edited ? "(edited)" : "" %><p>
        </div>
          <div class="c-a">
          <% if comment.recos.group_by(&:user).include?(current_user) %>
            <% comment.recos.each do |reco| %>
              <% if reco.user == current_user %>
                <%= link_to 'You recoed!', reco_path(reco), class: "fourth-crypto-btn", method: :delete%>
              <% end %>
            <% end%>
            <% else %>
            <%= simple_form_for([@crypto, comment, @reco]) do |f| %>
              <%= f.submit "Reco!", class: "third-crypto-btn"  %>
            <% end %>
          <% end %>
          <% if comment.user == current_user && policy(comment).destroy?  %>
            <%= link_to 'Delete', comment_path(comment), method: :delete, remote: true, class: "third-crypto-btn"%>
          <% end %>
          </div>
        </div>
         <h6> <%= cl_image_tag comment.user.photo.key, width: 30, height: 20, class: "avatar" %> <span class="username-comment"> <%= link_to comment.user.username, user_path(comment.user) %></span>  <span class="time-ago"> <%= time_ago_in_words(comment.created_at) %> ago </span> </h6>

      </li>
      <% end %>
      </ul>
      <% end %>
    </div>

    <div class="add-comment-box">

    <h5> How you feeling about this crypto now? </h5>
    <%= simple_form_for([@crypto, @comment], remote: true) do |f| %>
        <%= f.text_field :content, class: "crypto-text-field" %>
        <%= f.submit "Comment", class: "crypto-btn" %>
      <% end %>

    </div>
  </div>
</div>
